@import './base.css';
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

#app {
  display: flex;
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  flex-direction: column;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
  
}


body {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to top, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.main-gradiant {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

